<div class="column-layout kanban-board">
  <div class="column-layout kanban-board">
    <igx-navbar class="navbar">
      <igx-navbar-action>
        <button igxButton="icon" igxRipple class="button">
          <igx-icon>
            dashboard
          </igx-icon>
        </button>
      </igx-navbar-action>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          add_circle
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="button_1">
        <igx-icon>
          share
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          notifications
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          account_circle
        </igx-icon>
      </button>
      <igx-navbar-title>
        Task Management
      </igx-navbar-title>
    </igx-navbar>
    <div class="row-layout view">
      <div class="row-layout background">
        <div class="column-layout sidebar">
          <igx-icon class="icon">
            group_add
          </igx-icon>
          <igx-avatar src="/assets/f74b28f7af6e17ef1acc613a543c5d7e60894342.png" [roundShape]="true" class="avatar"></igx-avatar>
          <igx-avatar src="/assets/42d44cdeb85ec3e17a730db42b32d71f20e92f9f.png" [roundShape]="true" class="avatar_1"></igx-avatar>
          <igx-avatar src="/assets/f8aed4bd1d1810d22091907ad0bb1364bf18cfb5.png" [roundShape]="true" class="avatar_1"></igx-avatar>
          <igx-avatar src="/assets/a96fc8580fec2e162889751feb2b18ba27bb7b6d.png" [roundShape]="true" class="avatar_1"></igx-avatar>
          <igx-avatar src="/assets/e5a412effed749edfc9ef82fb8121ee7446ffe62.png" [roundShape]="true" class="avatar"></igx-avatar>
          <igx-avatar src="/assets/49d39a0a56231fb45940bbf6b5732e30f9b4a842.png" [roundShape]="true" class="avatar_1"></igx-avatar>
          <igx-avatar src="/assets/682f1e324671e66d4f33f82cdd48e6c66514069c.png" [roundShape]="true" class="avatar_1"></igx-avatar>
          <igx-avatar src="/assets/5d7fbe3ccaf5c048e20d1ebbcb2febe2284edddc.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
      </div>
      <div class="column-layout group">
        <div class="column-layout main">
          <div class="row-layout heading">
            <div class="row-layout left">
              <igx-avatar initials="FP" [roundShape]="true" class="avatar_2"></igx-avatar>
              <h6 class="fintech-project">
                Fintech Project
              </h6>
              <button igxButton="icon" igxRipple class="button_2">
                <igx-icon>
                  keyboard_arrow_down
                </igx-icon>
              </button>
            </div>
            <igx-buttongroup class="button-group">
              <button igxButton="flat" igxRipple>
                Button
              </button>
              <button igxButton="flat" igxRipple>
                Button
              </button>
            </igx-buttongroup>
          </div>
          <div class="row-layout kanban">
            <div class="row-layout to-do">
              <div class="background_1"></div>
              <div class="right-border"></div>
              <div class="column-layout group_1">
                <div class="row-layout header">
                  <igx-icon class="icon_1">
                    assignment
                  </igx-icon>
                  <h6 class="to-do_1">
                    To do
                  </h6>
                  <igx-avatar initials="3" [roundShape]="true" class="avatar_3"></igx-avatar>
                </div>
                <div class="column-layout cards">
                  <igx-card type="outlined" class="card-1">
                    <igx-card-media height="194px">
                      <img src="/assets/2aae48617afa79d598897d7ce09fae84ca0a780f.png" class="image" />
                    </igx-card-media>
                    <igx-card-header>
                      <div igxCardThumbnail>
                        <igx-avatar src="/assets/587a7d12c4f1b81a9e8d73b73f4359076ffdc5ee.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                      </div>
                      <h3 igxCardHeaderTitle>
                        Create brand guidelines
                      </h3>
                      <h5 igxCardHeaderSubtitle>
                        Deadline: Nov 19, 2021
                      </h5>
                    </igx-card-header>
                    <igx-card-actions class="actions-content">
                      <button igxButton="flat" igxRipple class="button_3">
                        Complete
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          attach_file
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          archive
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          share
                        </igx-icon>
                      </button>
                    </igx-card-actions>
                  </igx-card>
                  <igx-card type="outlined" class="card-1">
                    <igx-card-media height="194px">
                      <img src="/assets/cb1f025cc69f4e87f463e48c4c46aa3cf1db7f0d.png" class="image" />
                    </igx-card-media>
                    <igx-card-header>
                      <div igxCardThumbnail>
                        <igx-avatar src="/assets/d9822b84c16dba9c4ce5b4e847c89717bffb587f.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                      </div>
                      <h3 igxCardHeaderTitle>
                        App Preview
                      </h3>
                      <h5 igxCardHeaderSubtitle>
                        Deadline: Nov 24, 2021
                      </h5>
                    </igx-card-header>
                    <igx-card-actions class="actions-content">
                      <button igxButton="flat" igxRipple class="button_3">
                        Complete
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          attach_file
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          archive
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          share
                        </igx-icon>
                      </button>
                    </igx-card-actions>
                  </igx-card>
                  <igx-card type="outlined" class="card-1">
                    <igx-card-header>
                      <div igxCardThumbnail>
                        <igx-avatar src="/assets/ce7865ff5b8a26c20b405263f408c8af1dc63f8b.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                      </div>
                      <h3 igxCardHeaderTitle>
                        Cloud Integration
                      </h3>
                      <h5 igxCardHeaderSubtitle>
                        Deadline: Nov 28, 2021
                      </h5>
                    </igx-card-header>
                    <igx-card-actions class="actions-content">
                      <button igxButton="flat" igxRipple class="button_3">
                        Complete
                      </button>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          archive
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          share
                        </igx-icon>
                      </button>
                    </igx-card-actions>
                  </igx-card>
                </div>
              </div>
            </div>
            <div class="column-layout in-development">
              <div class="background_2"></div>
              <div class="row-layout group_2">
                <div class="column-layout group_3">
                  <div class="row-layout header_1">
                    <igx-icon class="icon_1">
                      developer_board
                    </igx-icon>
                    <h6 class="in-development_1">
                      In Development
                    </h6>
                    <igx-avatar initials="5" [roundShape]="true" class="avatar_3"></igx-avatar>
                  </div>
                  <div class="column-layout cards_1">
                    <igx-card type="outlined" class="card-1_1">
                      <igx-card-header>
                        <div igxCardThumbnail>
                          <igx-avatar src="/assets/d9822b84c16dba9c4ce5b4e847c89717bffb587f.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                        </div>
                        <h3 igxCardHeaderTitle>
                          Connect to DataSources
                        </h3>
                        <h5 igxCardHeaderSubtitle>
                          Deadline: Oct 28, 2021
                        </h5>
                      </igx-card-header>
                      <igx-card-actions class="actions-content">
                        <button igxButton="flat" igxRipple class="button_3">
                          Complete
                        </button>
                        <button igxButton="icon" igxRipple>
                          <igx-icon>
                            archive
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            share
                          </igx-icon>
                        </button>
                      </igx-card-actions>
                    </igx-card>
                    <igx-card type="outlined" class="card-1_1">
                      <igx-card-media height="194px">
                        <img src="/assets/fd99425abe4bea24ebd67c760a0c66080a280a06.png" class="image" />
                      </igx-card-media>
                      <igx-card-header>
                        <div igxCardThumbnail>
                          <igx-avatar src="/assets/eabf38f62f34d19024afeb998e8e6cb0cc6aeb4b.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                        </div>
                        <h3 igxCardHeaderTitle>
                          Build App
                        </h3>
                        <h5 igxCardHeaderSubtitle>
                          Deadline: Oct 28, 2021
                        </h5>
                      </igx-card-header>
                      <igx-card-actions class="actions-content">
                        <button igxButton="flat" igxRipple class="button_3">
                          Complete
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            attach_file
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple>
                          <igx-icon>
                            archive
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            share
                          </igx-icon>
                        </button>
                      </igx-card-actions>
                    </igx-card>
                    <igx-card type="outlined" class="card-3">
                      <igx-card-header>
                        <div igxCardThumbnail>
                          <igx-avatar src="/assets/339e6d3a628306a27ceafe68968e5f70b83e0ecc.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                        </div>
                        <h3 igxCardHeaderTitle>
                          Copy-Paste Update
                        </h3>
                        <h5 igxCardHeaderSubtitle>
                          Deadline: Oct 24, 2021
                        </h5>
                      </igx-card-header>
                      <igx-card-actions class="actions-content">
                        <button igxButton="flat" igxRipple class="button_3">
                          Complete
                        </button>
                        <button igxButton="icon" igxRipple>
                          <igx-icon>
                            archive
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            share
                          </igx-icon>
                        </button>
                      </igx-card-actions>
                    </igx-card>
                    <igx-card type="outlined" class="card-3">
                      <igx-card-header>
                        <div igxCardThumbnail>
                          <igx-avatar src="/assets/587a7d12c4f1b81a9e8d73b73f4359076ffdc5ee.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                        </div>
                        <h3 igxCardHeaderTitle>
                          Grid Data-Binding
                        </h3>
                        <h5 igxCardHeaderSubtitle>
                          Deadline: Oct 26, 2021
                        </h5>
                      </igx-card-header>
                      <igx-card-actions class="actions-content">
                        <button igxButton="flat" igxRipple class="button_3">
                          Complete
                        </button>
                        <button igxButton="icon" igxRipple>
                          <igx-icon>
                            archive
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            share
                          </igx-icon>
                        </button>
                      </igx-card-actions>
                    </igx-card>
                    <igx-card type="outlined" class="card-3">
                      <igx-card-header>
                        <div igxCardThumbnail>
                          <igx-avatar src="/assets/592fc31870cbbda33a8047a281b0f48eaf75f956.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                        </div>
                        <h3 igxCardHeaderTitle>
                          Main Dashboard Design
                        </h3>
                        <h5 igxCardHeaderSubtitle>
                          Deadline: Oct 20, 2021
                        </h5>
                      </igx-card-header>
                      <igx-card-actions class="actions-content">
                        <button igxButton="flat" igxRipple class="button_3">
                          Complete
                        </button>
                        <button igxButton="icon" igxRipple>
                          <igx-icon>
                            archive
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            share
                          </igx-icon>
                        </button>
                      </igx-card-actions>
                    </igx-card>
                  </div>
                </div>
                <div class="right-border_1"></div>
              </div>
            </div>
            <div class="column-layout validation">
              <div class="background_3"></div>
              <div class="row-layout group_4">
                <div class="column-layout group_5">
                  <div class="row-layout header_2">
                    <igx-icon class="icon_2">
                      assignment_late
                    </igx-icon>
                    <h6 class="validation_1">
                      Validation
                    </h6>
                    <igx-avatar initials="4" [roundShape]="true" class="avatar_3"></igx-avatar>
                  </div>
                  <div class="column-layout cards_2">
                    <igx-card type="outlined" class="card-1">
                      <igx-card-media height="194px">
                        <img src="/assets/e725c01e9096f6de8620457c70cdff950e787232.png" class="image" />
                      </igx-card-media>
                      <igx-card-header>
                        <div igxCardThumbnail>
                          <igx-avatar src="/assets/2312345a73dce2a8e5104f82f9f2923c7f687d3a.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                        </div>
                        <h3 igxCardHeaderTitle>
                          Update samples
                        </h3>
                        <h5 igxCardHeaderSubtitle>
                          Deadline: Oct 15, 2021
                        </h5>
                      </igx-card-header>
                      <igx-card-actions class="actions-content">
                        <button igxButton="flat" igxRipple class="button_3">
                          Complete
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            attach_file
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple>
                          <igx-icon>
                            archive
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            share
                          </igx-icon>
                        </button>
                      </igx-card-actions>
                    </igx-card>
                    <igx-card type="outlined" class="card-1">
                      <igx-card-header>
                        <div igxCardThumbnail>
                          <igx-avatar src="/assets/d9822b84c16dba9c4ce5b4e847c89717bffb587f.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                        </div>
                        <h3 igxCardHeaderTitle>
                          Floating Toolbar
                        </h3>
                        <h5 igxCardHeaderSubtitle>
                          Deadline: Oct 14, 2021
                        </h5>
                      </igx-card-header>
                      <igx-card-actions class="actions-content">
                        <button igxButton="flat" igxRipple class="button_3">
                          Complete
                        </button>
                        <button igxButton="icon" igxRipple>
                          <igx-icon>
                            archive
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            share
                          </igx-icon>
                        </button>
                      </igx-card-actions>
                    </igx-card>
                    <igx-card type="outlined" class="card-1">
                      <igx-card-media height="194px">
                        <img src="/assets/b74773d2cf05910ced5c80a2fae4ba6c9b938033.png" class="image" />
                      </igx-card-media>
                      <igx-card-header>
                        <div igxCardThumbnail>
                          <igx-avatar src="/assets/ce7865ff5b8a26c20b405263f408c8af1dc63f8b.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                        </div>
                        <h3 igxCardHeaderTitle>
                          Input Update
                        </h3>
                        <h5 igxCardHeaderSubtitle>
                          Deadline: Oct 17, 2021
                        </h5>
                      </igx-card-header>
                      <igx-card-actions class="actions-content">
                        <button igxButton="flat" igxRipple class="button_3">
                          Complete
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            attach_file
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple>
                          <igx-icon>
                            archive
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            share
                          </igx-icon>
                        </button>
                      </igx-card-actions>
                    </igx-card>
                    <igx-card type="outlined" class="card-1">
                      <igx-card-media height="194px">
                        <img src="/assets/fc568ac3678868e37ce3523112ecb6ce2f49496c.png" class="image" />
                      </igx-card-media>
                      <igx-card-header>
                        <div igxCardThumbnail>
                          <igx-avatar src="/assets/eabf38f62f34d19024afeb998e8e6cb0cc6aeb4b.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                        </div>
                        <h3 igxCardHeaderTitle>
                          App Library
                        </h3>
                        <h5 igxCardHeaderSubtitle>
                          Deadline: Oct 16, 2021
                        </h5>
                      </igx-card-header>
                      <igx-card-actions class="actions-content">
                        <button igxButton="flat" igxRipple class="button_3">
                          Complete
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            attach_file
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple>
                          <igx-icon>
                            archive
                          </igx-icon>
                        </button>
                        <button igxButton="icon" igxRipple class="button_4">
                          <igx-icon>
                            share
                          </igx-icon>
                        </button>
                      </igx-card-actions>
                    </igx-card>
                  </div>
                </div>
                <div class="right-border_2"></div>
              </div>
            </div>
            <div class="row-layout done">
              <div class="background_4"></div>
              <div class="right-border_3"></div>
              <div class="column-layout group_6">
                <div class="row-layout header_3">
                  <igx-icon class="icon_1">
                    check_circle
                  </igx-icon>
                  <h6 class="done_1">
                    Done
                  </h6>
                  <igx-avatar initials="5" [roundShape]="true" class="avatar_3"></igx-avatar>
                </div>
                <div class="column-layout cards_3">
                  <igx-card type="outlined" class="card-1">
                    <igx-card-header>
                      <div igxCardThumbnail>
                        <igx-avatar src="/assets/32f99250c8878b027ed135ff0cc96e2d34880b5c.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                      </div>
                      <h3 igxCardHeaderTitle>
                        Onboarding experience
                      </h3>
                      <h5 igxCardHeaderSubtitle>
                        October 13, 2021
                      </h5>
                    </igx-card-header>
                    <igx-card-actions class="actions-content">
                      <button igxButton="flat" igxRipple class="button_3">
                        Complete
                      </button>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          archive
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          share
                        </igx-icon>
                      </button>
                    </igx-card-actions>
                  </igx-card>
                  <igx-card type="outlined" class="card-1">
                    <igx-card-header>
                      <div igxCardThumbnail>
                        <igx-avatar src="/assets/587a7d12c4f1b81a9e8d73b73f4359076ffdc5ee.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                      </div>
                      <h3 igxCardHeaderTitle>
                        Design Specs
                      </h3>
                      <h5 igxCardHeaderSubtitle>
                        October 9, 2021
                      </h5>
                    </igx-card-header>
                    <igx-card-actions class="actions-content">
                      <button igxButton="flat" igxRipple class="button_3">
                        Complete
                      </button>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          archive
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          share
                        </igx-icon>
                      </button>
                    </igx-card-actions>
                  </igx-card>
                  <igx-card type="outlined" class="card-1">
                    <igx-card-media height="194px">
                      <img src="/assets/d5a08efd8c53a41ea36c62dcf99c283415349198.png" class="image" />
                    </igx-card-media>
                    <igx-card-header>
                      <div igxCardThumbnail>
                        <igx-avatar src="/assets/592fc31870cbbda33a8047a281b0f48eaf75f956.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                      </div>
                      <h3 igxCardHeaderTitle>
                        File Parser
                      </h3>
                      <h5 igxCardHeaderSubtitle>
                        October 10, 2021
                      </h5>
                    </igx-card-header>
                    <igx-card-actions class="actions-content">
                      <button igxButton="flat" igxRipple class="button_3">
                        Complete
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          attach_file
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          archive
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          share
                        </igx-icon>
                      </button>
                    </igx-card-actions>
                  </igx-card>
                  <igx-card type="outlined" class="card-1">
                    <igx-card-header>
                      <div igxCardThumbnail>
                        <igx-avatar src="/assets/587a7d12c4f1b81a9e8d73b73f4359076ffdc5ee.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                      </div>
                      <h3 igxCardHeaderTitle>
                        Final Mockups
                      </h3>
                      <h5 igxCardHeaderSubtitle>
                        October 14, 2021
                      </h5>
                    </igx-card-header>
                    <igx-card-actions class="actions-content">
                      <button igxButton="flat" igxRipple class="button_3">
                        Complete
                      </button>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          archive
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          share
                        </igx-icon>
                      </button>
                    </igx-card-actions>
                  </igx-card>
                  <igx-card type="outlined" class="card-1">
                    <igx-card-media height="194px">
                      <img src="/assets/9224c81ebdbe1cd0ac916c1389ee7eb2e9bf77b6.png" class="image" />
                    </igx-card-media>
                    <igx-card-header>
                      <div igxCardThumbnail>
                        <igx-avatar src="/assets/339e6d3a628306a27ceafe68968e5f70b83e0ecc.png" [roundShape]="true" class="avatar_4"></igx-avatar>
                      </div>
                      <h3 igxCardHeaderTitle>
                        GitHub Integration
                      </h3>
                      <h5 igxCardHeaderSubtitle>
                        September 30, 2021
                      </h5>
                    </igx-card-header>
                    <igx-card-actions class="actions-content">
                      <button igxButton="flat" igxRipple class="button_3">
                        Complete
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          attach_file
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          archive
                        </igx-icon>
                      </button>
                      <button igxButton="icon" igxRipple class="button_4">
                        <igx-icon>
                          share
                        </igx-icon>
                      </button>
                    </igx-card-actions>
                  </igx-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button igxButton="fab" igxRipple class="add-button">
          <igx-icon>
            add
          </igx-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="groupVisible" class="row-layout dialog">
    <igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true">
      <igx-dialog-title>
        <h5>
          Add New Task
        </h5>
      </igx-dialog-title>
      <ng-container>
        <div class="column-layout body">
          <igx-input-group type="box" class="input">
            <input type="text" placeholder="Task Title" igxInput />
            <label igxLabel>Label/Placeholder</label>
          </igx-input-group>
          <div class="row-layout group_7">
            <igx-select type="box" placeholder="Pick a project" class="select">
              <igx-select-item value="Option">
                Option
              </igx-select-item>
              <igx-select-item value="Option">
                Option
              </igx-select-item>
              <label igxLabel>Project</label>
            </igx-select>
            <igx-select type="box" placeholder="Set Status" class="select">
              <igx-select-item value="Option">
                Option
              </igx-select-item>
              <igx-select-item value="Option">
                Option
              </igx-select-item>
              <label igxLabel>Status</label>
            </igx-select>
          </div>
        </div>
      </ng-container>
      <igx-dialog-actions>
        <button igxButton="flat" igxRipple class="button_5">
          CANCEL
        </button>
        <button igxButton="flat" igxRipple class="button_6">
          OK
        </button>
      </igx-dialog-actions>
    </igx-dialog>
  </div>
</div>
